spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mysql://localhost:3307/whiskey?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root1234
  data:
    redis:
      host: localhost
      port: 6380
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true